/*============================
		Theme Color Green
==============================*/
:root,
[data-bs-theme="light"] {
  --bs-themecolor: #28a745;
  --bs-themecolor-rgb: 40, 167, 69;
  --bs-themehovercolor: #208637;
  --bs-themehovercolor-rgb: 32.11594, 134.08406, 55.4;
  --bs-link-color: var(--bs-themecolor);
  --bs-link-color-rgb: var(--bs-themecolor-rgb);
  --bs-link-hover-color: var(--bs-themehovercolor);
  --bs-link-hover-color-rgb: var(--bs-themehovercolor-rgb);
  --bs-primary: var(--bs-themecolor);
  --bs-primary-rgb: var(--bs-themecolor-rgb);
  --bs-primary-text-emphasis: #10431c;
  --bs-primary-bg-subtle: #d4edda;
  --bs-primary-border-subtle: #a9dcb5;
  --bs-body-color: #4c4d4d;
  --bs-body-color-rgb: 76, 77, 77;
  --bs-heading-color: var(--bs-emphasis-color);
  --bs-body-font-family: Poppins, sans-serif;
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-link-color: var(--bs-themecolor);
  --bs-link-color-rgb: var(--bs-themecolor-rgb);
  --bs-link-hover-color: var(--bs-themehovercolor);
  --bs-link-hover-color-rgb: var(--bs-themehovercolor-rgb);
  --bs-heading-color: var(--bs-emphasis-color);
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
}
